<p>トップページへ</p><%= link_to image_tag("back.png", class:"home-icon"), "/" %><br>

<div class= "u_title">　　　ユーザーの出品した商品一覧です</div><br>

  <ul class='item-lists'>
    <% @user.items.each do |item| %>
    <li class='list'>
      <%= link_to item_path(item.id) do %>

        <div class='item-img-content'>
        <%= image_tag item.image, class: "item-img" %>
          <%if item.order.present? %>
            <div class='sold-out'><span>sold out</span></div>
          <%end%>
        </div>
        <div class='item-info'>
        <h3 class='item-name'>
        <%= item.name %>
        </h3>
        <div class='item-price'>
        <span>¥<%= item.price %><br><%= item.scheduled_delivery.name %></span>
         </div>
        </div>
      <% end %>
    </li>
    <% end %>
 </ul>


<%= render "shared/footer" %>



