<%= link_to image_tag("back.png", class:"home-icon"), "/" %>

   <div class="warn"> ✳︎コメント欄でやり取りをして下さい✳︎<br>
   
   </div>
<div class="item-show">
  <div class="item-box">
  <div class="item-title">
  <%= @item.name %>
 </div>
    <div class="item-img-content">
      <%= image_tag @item.image,class:"item-box-img" %>
       <% if @item.order.present? %> 
      <div class="sold-out">
        <span>sold out</span>
      </div>
      <% end %>
    </div>


    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">価格</th>
          <td class="detail-value">¥<%= @item.price %></td>
        </tr>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= link_to @item.user.nickname%></td>

        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">商品の状態</th>
          <td class="detail-value"><%= @item.sales_status.name %></td>
        </tr>
        <tr>
          <th class="detail-item">取引場所</th>
          <td class="detail-value"><%= @item.prefecture.name %></td>
        </tr>
        <tr>
          <th class="detail-item">貸出期間or売却</th>
          <td class="detail-value"><%= @item.scheduled_delivery.name %></td>
        </tr>
        <tr>
          <th class="detail-item">タイトル</th>
          <td class="detail-value"><%= @item.name %></td>
        </tr>
        <tr>
          <th class="detail-item">本文</th>
          <td class="detail-value"><%= @item.description %></td>
        </tr>
        <tr>
          <th class="detail-item">場所</th>
          <td class="detail-value"><%= @item.add %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <% if user_signed_in? && @item.order == nil %>
        <% if current_user.id == @item.user_id %>
          <%= link_to "編集", edit_item_path(@item.id), class: "item-blue-btn" %>
          <%= link_to "削除", item_path(@item.id), method: :delete, class:"item-destroy" %>
        <% else %>
          <%= link_to "購入画面に進む", item_orders_path(@item.id) ,class:"item-blue-btn"%>
        <% end %>
      <% end %>
      </div>
      </div>



  <div class="comment-box">
  <p class="message-title">こちらでやり取りをして、お約束をして下さい。<br>個人情報は書かないでください。(他のユーザーも見ることができます)</p>
  <div id="messages" class="messages-text">
  <% @messages.reverse_each do |message| %>
    <p><%= message.user.nickname%>   :   <%= message.text %></p> 
    <%# <%= link_to "削除", message_path(@message.id), class: "message-d" %> 

  <% end %>
</div>
<br>
    <%= form_with(model: [@item, @message]) do |form| %>
      <%= form.text_area :text,placeholder: "コメントを入力", class: "comment-text"%>
    <% if user_signed_in? %>
      <button type="submit" class="comment-btn">
        <span>送信<span>
      </button>
    <% end %>
    <% end %>
  </div>




</div>

<%= render "shared/footer" %>
